<% layout("/layouts/boilerplate.ejs") %>
<h1>Edit campground</h1>
<form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST">
  <div>
    <label for="title">Add a Title</label>
    <input type="text" name="title" id="title" value="<%= campground.title%>" />
  </div>
  <br />
  <div>
    <label for="location">Add Location</label>
    <input
      type="text"
      name="location"
      id="location"
      value="<%= campground.location%>"
    />
  </div>
  <br />
  <button>Submit</button>
</form>
