<% layout("/layouts/boilerplate.ejs") %>
<h1>All campgrounds</h1>
<ul>
  <% for (let campground of allCampgrounds){%>
  <a href="/campgrounds/<%= campground._id%>">
    <li><%= campground.title%></li>
  </a>
  <%}%>
</ul>
