<% layout("/layouts/boilerplate.ejs") %>
<h1><%= campground.title%></h1>
<nav>
  <a href="/campgrounds/<%=campground.id%>/edit">Edit</a>
</nav>
<h3><%= campground.location%></h3>
<form action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>
